***First step: Importing dataset***

In [25]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
music_data=pd.read_csv("music.csv")
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

***Second step: clean/Prepare dataset***

In [5]:
X=music_data.drop(columns=['genre']) #will create new dataset without genre column
y=music_data['genre']       # this is the output we want
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

***Third step: Build a model using ML algorithm here decision tree algorithm is used***

In [7]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X,y) #this methhod takes i/p and o/p dataset   here we are using entire dataset which is not good 
predictions=model.predict([[22,1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

***Model for classifying music recommendation of people using decision tree***

In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data=pd.read_csv("music.csv")
X=music_data.drop(columns="genre")
y=music_data["genre"]
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2)


model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)

score=accuracy_score(y_test, predictions)
score

0.75

***joblib***

In [27]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib             #from sklearn.externals import joblib is giving error

sic_data=pd.read_csv("music.csv")
X=music_data.drop(columns="genre")
y=music_data["genre"]

model=DecisionTreeClassifier()
model.fit(X,y)

joblib.dump(model,"music_recommender.joblib")

['music_recommender.joblib']

***using joblib***

In [31]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

array(['HipHop'], dtype=object)

In [11]:
import pandas as pd
music=pd.read_csv("fifa_data.csv")
music.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M