In [5]:
import pandas as pd

In [117]:
data=pd.read_csv("WeatherData.csv")
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [8]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [10]:
data.shape  # total no of rows and columns shown

(8784, 8)

In [15]:
data.index                #shows +1 stop value

RangeIndex(start=0, stop=8784, step=1)

In [17]:
data.columns      # names of columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [38]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [20]:
data['Weather'].unique     #shows unique values in weather column, can be applied on single column only

<bound method Series.unique of 0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object>

In [21]:
data.nunique()   #shows total no of unique values in each column.can be applied on single column as well as whole dataframe

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [22]:
data.count() #shows total no of non null values in each column

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [9]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [11]:
for col in data.columns:
    print(col)

Date/Time
Temp_C
Dew Point Temp_C
Rel Hum_%
Wind Speed_km/h
Visibility_km
Press_kPa
Weather

In [12]:
data.index

RangeIndex(start=0, stop=8784, step=1)

In [15]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [16]:
data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Rain,Snow Grains                              1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Snow Pellets                                  1
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [18]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [21]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

***Q) Find all unique wind speed and Visibility values ans total number***

In [24]:
data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [28]:
data['Wind Speed_km/h'].nunique()

34

In [41]:
data['Visibility_km'].unique()

array([ 8. ,  4. ,  4.8,  6.4,  1.2, 12.9, 16.1, 25. , 19.3, 24.1,  9.7,
       11.3, 48.3,  3.2,  2.8,  2.4,  2. ,  0.8,  0.6,  1. ,  1.6,  3.6,
        0.2,  0.4])

In [42]:
data['Visibility_km'].nunique()

24

***Find number of times when weather was exactly clear and how many times it snowed?***

In [29]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Clear

In [32]:
data.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Rain,Snow Grains                              1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Snow Pellets                                  1
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [35]:
#data.Weather=='Clear' this will give boolean values so use down syntax
data[data.Weather=='Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,01-03-2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,01-05-2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,01-05-2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,01-05-2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,01-05-2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [36]:
data.groupby('Weather').get_group('Clear')    #get_group picks particular value from column

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,01-03-2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,01-05-2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,01-05-2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,01-05-2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,01-05-2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [43]:
data[data.Weather=='Snow']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
55,01-03-2012 07:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,01-04-2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,01-04-2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,01-04-2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,01-04-2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [46]:
data.groupby('Weather').get_group('Snow')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
55,01-03-2012 07:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,01-04-2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,01-04-2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,01-04-2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,01-04-2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

***No. of times when humidity was exactly 70%***

In [54]:
data[data['Rel Hum_%']== 70]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
29,01-02-2012 05:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
30,01-02-2012 06:00,2.3,-2.6,70,26,25.0,99.18,Mostly Cloudy
31,01-02-2012 07:00,2.0,-2.9,70,33,25.0,99.14,Mostly Cloudy
107,01-05-2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
173,01-08-2012 05:00,-5.9,-10.5,70,13,25.0,101.33,Mainly Clear
...,...,...,...,...,...,...,...,...
8405,12/16/2012 5:00,-10.0,-14.4,70,22,25.0,102.00,Cloudy
8566,12/22/2012 22:00,-7.4,-11.9,70,35,16.1,100.00,Snow
8634,12/25/2012 18:00,-8.9,-13.4,70,13,25.0,102.16,Mainly Clear
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear

***To find null values in dataset***

In [66]:
#data.isnull()   gives boolean result so use sum
data.isnull().sum()
#data.notnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       1
Press_kPa           0
Weather             0
dtype: int64

***Renaming column Visibility_km to Visibility(km)***

In [72]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [73]:
data.rename(columns={'Visibility_km':'Visibility(km)'})        #to change permanently : inplace=True

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility(km),Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

***Mean of temp, dewpoint, humidity, wind_speed, pressure***

In [78]:
mean_temp=data.Temp_C.mean()
print(f"Mean temp is:{mean_temp}")

Mean temp is:8.798144353369764

In [83]:
mean_windspd=data.Wind Speed_km/h.mean()        
print(f"Mean dew_point is:{mean_windspd}")

SyntaxError: invalid syntax (<ipython-input-83-43c7e5e28a88>, line 1)

In [87]:
data.rename(columns={'Wind Speed_km/h':'WindSpeed'},inplace=True)

In [88]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [91]:
mean_windspd=data.WindSpeed.mean()                  # like this we can find mean of columns
print(f"Mean wind speed is:{mean_windspd}")

Mean wind speed is:14.94546903460838

***Std deviation of wind speed***

In [94]:
std_dev_wind=data.WindSpeed.std()
print(f"Std. deviation of wind_speed is:{std_dev_wind}")

Std. deviation of wind_speed is:8.688696079468851

***Variance of wind***

In [98]:
var_wind=data.WindSpeed.var()
print(f"Variance of wind speed is:{var_wind}")

Variance of wind speed is:75.49343956137737

***All instances when Cloudy Weather was recorded***

In [100]:
data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Rain,Snow Grains                              1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Snow Pellets                                  1
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [103]:
data[data['Weather']=='Cloudy']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa,Weather
17,01-01-2012 17:00,3.0,0.0,81,13,16.1,99.81,Cloudy
20,01-01-2012 20:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,01-01-2012 21:00,4.0,1.7,85,20,25.0,99.39,Cloudy
23,01-01-2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
25,01-02-2012 01:00,4.6,0.0,72,39,25.0,99.26,Cloudy
...,...,...,...,...,...,...,...,...
8761,12/31/2012 1:00,-10.7,-14.0,77,15,25.0,101.50,Cloudy
8762,12/31/2012 2:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
8764,12/31/2012 4:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
8765,12/31/2012 5:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
8766,12/31/2012 6:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy

In [106]:
data[data['Weather'].str.contains('Cloudy')].head(10)            # cloudy and mostly cloudy

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa,Weather
16,01-01-2012 16:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,01-01-2012 17:00,3.0,0.0,81,13,16.1,99.81,Cloudy
20,01-01-2012 20:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,01-01-2012 21:00,4.0,1.7,85,20,25.0,99.39,Cloudy
23,01-01-2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
25,01-02-2012 01:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,01-02-2012 02:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,01-02-2012 03:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,01-02-2012 04:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,01-02-2012 05:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy

***Instances where windspeed is greater than 13 and temperature is less than 5***

In [109]:
data[(data['WindSpeed']>13)&(data['Temp_C']<5)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa,Weather
9,01-01-2012 09:00,-1.3,-3.1,88,15,4.0,101.20,Fog
14,01-01-2012 14:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,01-01-2012 15:00,1.8,-0.4,85,22,6.4,100.07,Fog
18,01-01-2012 18:00,3.8,1.0,82,15,12.9,99.74,Rain
19,01-01-2012 19:00,3.1,1.3,88,15,12.9,99.68,Rain
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

***Mean of each column against each weather condition***

In [113]:
data.groupby('Weather').mean().head(10)

,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa
Weather,,,,,,
Clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
Cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
Drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366
"Drizzle,Fog",8.067500,7.033750,93.275000,11.862500,5.257500,100.786625
"Drizzle,Ice Pellets,Fog",0.400000,-0.700000,92.000000,20.000000,4.000000,100.790000
"Drizzle,Snow",1.050000,0.150000,93.500000,14.000000,10.500000,100.890000
"Drizzle,Snow,Fog",0.693333,0.120000,95.866667,15.533333,5.513333,99.281333
Fog,4.303333,3.159333,92.286667,7.946667,6.248000,101.184067
Freezing Drizzle,-5.657143,-8.000000,83.571429,16.571429,9.200000,100.202857
"Freezing Drizzle,Fog",-2.533333,-4.183333,88.500000,17.000000,5.266667,100.441667

***Minimum and Maximum value of each column against each weather condition***

In [115]:
data.groupby('Weather').min().head(5)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa
Weather,,,,,,,
Clear,01-03-2012 19:00,-23.3,-28.5,20,0,11.3,99.52
Cloudy,01-01-2012 17:00,-21.4,-26.8,18,0,11.3,98.39
Drizzle,05-01-2012 15:00,1.1,-0.2,74,0,6.4,97.84
"Drizzle,Fog",05-01-2012 16:00,0.0,-1.6,85,0,1.0,98.65
"Drizzle,Ice Pellets,Fog",12/17/2012 9:00,0.4,-0.7,92,20,4.0,100.79

In [116]:
data.groupby('Weather').max().head(5)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,WindSpeed,Visibility_km,Press_kPa
Weather,,,,,,,
Clear,9/28/2012 4:00,32.8,20.4,99,33,48.3,103.63
Cloudy,9/30/2012 9:00,30.5,22.6,99,54,48.3,103.65
Drizzle,9/30/2012 3:00,18.8,17.7,96,30,25.0,101.56
"Drizzle,Fog",9/30/2012 2:00,19.9,19.1,100,28,9.7,102.07
"Drizzle,Ice Pellets,Fog",12/17/2012 9:00,0.4,-0.7,92,20,4.0,100.79